<div class="flex px-24 gap-4">
  <div class="w-3/7 items-center flex justify-center">
    <img [src]="data().image_url" />
  </div>
  <div class="w-4/7 flex flex-col gap-6">
    <p class="text-5xl font-semibold">{{ data().name }}</p>
    <p class="text-2xl font-regular">{{ data().description }}</p>
    <p class="text-4xl font-semibold">{{ data().price }}€</p>
    <p>Talla</p>
    <div class="flex gap-4">
      @for (size of data().sizes; track size) {
        <app-size-button
          [data]="size"
          [isSelected]="selectedSize() === size"
          (click)="selectSize(size)"
        >
        </app-size-button>
      } @empty {
        <p class="text-sm text-gray-500">No hay tallas disponibles para este producto.</p>
      }
    </div>
    <div>
      <!-- cantidad -->
      <div class="mt-10">
        <button
          (click)="handleAddToCart()"
          class="w-full flex items-center justify-center rounded-xl bg-black px-8 py-4 text-base font-bold text-white transition-all hover:bg-gray-800 active:scale-95 disabled:bg-gray-400"
          [disabled]="!selectedSize()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mr-2 h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
            />
          </svg>
          Añadir al carrito
        </button>

        @if (!selectedSize()) {
          <p class="mt-2 text-center text-sm text-red-500 font-medium">
            Selecciona una talla para continuar
          </p>
        }
      </div>
    </div>
  </div>
</div>
