@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --default-font-family: 'Montserrat', sans-serif;

  --color-debug-bg: #f8fafc;
}

@layer base {
  .input {
    @apply block w-full rounded-md border-0 p-1.5 text-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 disabled:cursor-not-allowed disabled:opacity-50;
  }
}

